body {
	font-family: sans-serif;
	font-size: 20px;
	background-color: #f2e8c9;
}
h1{
	font-size: 36px;
	text-align: center;
}
table {
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #000000;
	border-collapse: collapse; 
}
td, th{
	border: 1px solid #000000;
	border-collapse: collapse; 
}
td.name, th.name
{
	width: 20%;
	text-align: center;
}
td.descr, th.descr
{
	width: 80%;
	text-align: justify;
}
img.preview {
	width: 200px;
}
dt{
	font-weight: bolder;
}